.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem; /* Ajusta el padding según sea necesario */
    box-sizing: border-box;
  }
  